<h1>API</h1>
<%= form_for :song do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.submit 'Submit' %>
    </p>
<% end %>

<%= link_to 'Home', controller: 'welcome'%>